<%= form_with(model: article, class: "contents") do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul class="list-disc ml-6">
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": article.errors[:title].none?, "border-red-400 focus:outline-red-600": article.errors[:title].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": article.errors[:subtitle].none?, "border-red-400 focus:outline-red-600": article.errors[:subtitle].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :content %>
    <%= form.rich_textarea :content, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": article.errors[:content].none?, "border-red-400 focus:outline-red-600": article.errors[:content].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :excerpt %>
    <%= form.textarea :excerpt, rows: 4, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": article.errors[:excerpt].none?, "border-red-400 focus:outline-red-600": article.errors[:excerpt].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :meta_description %>
    <%= form.text_field :meta_description, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": article.errors[:meta_description].none?, "border-red-400 focus:outline-red-600": article.errors[:meta_description].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :meta_keywords %>
    <%= form.text_field :meta_keywords, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": article.errors[:meta_keywords].none?, "border-red-400 focus:outline-red-600": article.errors[:meta_keywords].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :featured %>
    <%= form.checkbox :featured, class: ["block shadow rounded-md border outline-none mt-2 h-5 w-5", {"border-gray-400 focus:outline-blue-600": article.errors[:featured].none?, "border-red-400 focus:outline-red-600": article.errors[:featured].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :featured_image %>
    <%= form.file_field :featured_image, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": article.errors[:featured_image].none?, "border-red-400 focus:outline-red-600": article.errors[:featured_image].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :author_id %>
    <%#= form.text_field :author_id, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": article.errors[:author_id].none?, "border-red-400 focus:outline-red-600": article.errors[:author_id].any?}] %>
    <%= form.collection_select :author_id, Author.all, :id, :full_name, { prompt: "Select author" }, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": article.errors[:author_id].none?, "border-red-400 focus:outline-red-600": article.errors[:author_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :category_id %>
    <%#= form.text_field :category_id, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": article.errors[:category_id].none?, "border-red-400 focus:outline-red-600": article.errors[:category_id].any?}] %>
    <%= form.collection_select :category_id, Category.all, :id, :name, { prompt: "Select category" }, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": article.errors[:category_id].none?, "border-red-400 focus:outline-red-600": article.errors[:category_id].any?}] %>

  </div>

  <div class="my-5">
    <%= form.label :reading_time %>
    <%= form.number_field :reading_time, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": article.errors[:reading_time].none?, "border-red-400 focus:outline-red-600": article.errors[:reading_time].any?}] %>
  </div>

  <!-- <div class="my-5">
    <%#= form.label :view_count %>
    <%#= form.number_field :view_count, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": article.errors[:view_count].none?, "border-red-400 focus:outline-red-600": article.errors[:view_count].any?}] %>
  </div> -->

  <div class="my-5">
    <%= form.label :status %>
    <%#= form.number_field :status, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": article.errors[:status].none?, "border-red-400 focus:outline-red-600": article.errors[:status].any?}] %>
    <%= form.select :status, Article.statuses.keys, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": article.errors[:status].none?, "border-red-400 focus:outline-red-600": article.errors[:status].any?}] %>

  </div>

  <div class="my-5">
    <%= form.label :slug %>
    <%= form.text_field :slug, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": article.errors[:slug].none?, "border-red-400 focus:outline-red-600": article.errors[:slug].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :published_at %>
    <%= form.datetime_field :published_at, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": article.errors[:published_at].none?, "border-red-400 focus:outline-red-600": article.errors[:published_at].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
