<!-- filepath: app/views/stories/_top_story.html.erb -->
<% if story.storyable.respond_to?(:featured_image) && story.storyable.featured_image.attached? %>
<div class="border-b-2 border-gray-600 pb-4 mb-4">
  <%= link_to story.storyable, class:"group" do %>
    <%= image_tag story.storyable.featured_image, alt: story.storyable.title, fetchpriority: "high", decoding: "async", class: "w-full h-96 object-cover md:rounded-sm sm:px-4" %>
    <div  class="container md:mx-auto md:mt-2 md:px-5">
      <h2 class="text-4xl font-bold text-red-400 dark:text-amber-400 group-hover:text-red-400 m-4 mb-0 lora ">
        <%= story.storyable.title %>
      </h2>

      <p class="text-3xl group-hover:text-gray-500 ml-2 p-2 lora dark:text-gray-300">
          <%= story.storyable.subtitle %>
      </p>
      <p class="p-4 text-lg lora dark:text-gray-300">
          <%= story.storyable.excerpt %>
      </p>
    </div>
  <% end %>
</div>
<% end %>
