<div id="<%= dom_id tag %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= tag.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Slug:</strong>
    <%= tag.slug %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= tag.description %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Featured:</strong>
    <%= tag.featured %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Meta title:</strong>
    <%= tag.meta_title %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Meta description:</strong>
    <%= tag.meta_description %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Deleted at:</strong>
    <%= tag.deleted_at %>
  </p>
</div>
