<div id="<%= dom_id category %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= category.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= category.description %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Slug:</strong>
    <%= category.slug %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Parent:</strong>
    <%= category.parent_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Position:</strong>
    <%= category.position %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Featured:</strong>
    <%= category.featured %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= category.status %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Meta title:</strong>
    <%= category.meta_title %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Meta description:</strong>
    <%= category.meta_description %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Deleted at:</strong>
    <%= category.deleted_at %>
  </p>
</div>
